<mat-card *ngIf="product" [ngClass]="{'text-center': !fullWidthMode}">
    <div [ngClass]="{flex : fullWidthMode}" class="m-2">
        <img class="mb-1 mx-auto h-[200px]"
            [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[360px]' : fullWidthMode}" 
            src="{{product.url}}"/>
            <div class="w-full"
                    [ngClass]="{'px-8 flex flex-col justify-between' : fullWidthMode}">
                <div>
                    <h5> {{ product.category }} </h5>
                    <strong [ngClass]="{'truncate hover:whitespace-normal' : !fullWidthMode}" class="break-words  "> {{ product.name }} </strong>
                    
                    <p style="padding-top: 20px;"class="break-words text-base mr-4" *ngIf="fullWidthMode">{{ product.description }}</p>    
                </div>
                <div class="flex justify-between">
                    <button (click)="onAddToCart()">
                        <mat-icon> 
                            shopping_cart
                        </mat-icon>
                    </button>
                    <span class="text-green-800"> {{ product.price | currency }} </span>
                </div>
            </div>            
    </div>
</mat-card>