<mat-card class="mb-4">
    <div class="flex justify-between">
        <div>
            <button mat-button [matMenuTriggerFor]="sortByMenu">
                Sort by {{sort}}
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #sortByMenu="matMenu">
                <button mat-menu-item (click)="sortUpdate('Asc')"> Asc </button>
                <button mat-menu-item (click)="sortUpdate('Desc')"> Desc </button>
            </mat-menu>
        </div>

        <div class="flex items-center">
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                    Show {{ itemsCount }}
                    <mat-icon> expand_more </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="itemsUpdate(6)"> 6 </button>
                    <button mat-menu-item (click)="itemsUpdate(12)"> 12 </button>
                    <button mat-menu-item (click)="itemsUpdate(24)"> 24 </button>
                </mat-menu>
            </div>
            <button> 
                <mat-icon (click)="columnsUpdate(1)"> view_list </mat-icon>
            </button>
            <button> 
                <mat-icon (click)="columnsUpdate(3)"> view_modules </mat-icon>
            </button>
            <button> 
                <mat-icon (click)="columnsUpdate(4)"> view_comfy </mat-icon>
            </button>

        </div>
    </div>
</mat-card>