<mat-card [ngClass]="{'text-center': !fullWidthMode}" class="m-2">
    <div [ngClass]="{flex : fullWidthMode}" class="m-2">
        <img class="mb-1 mx-auto h-[200px]"
            [ngClass]="{'h-[200px]': !fullWidthMode, 'h-[300px]' : fullWidthMode}" 
            src="https://via.placeholder.com/150"/>
            <div class="w-full"
                    [ngClass]="{'px-8 flex flex-col justify-between' : fullWidthMode}">
                <div>
                    <h5> Clothes </h5>
                    <p class="truncate hover:whitespace-normal"> T-Shirt </p>
                    <p *ngIf="fullWidthMode"> Description </p>
                </div>
                <div class="flex justify-between">
                    <button>
                        <mat-icon> 
                            shopping_cart
                        </mat-icon>
                    </button>
                    <span class="text-green-800"> {{ '150' | currency }} </span>
                </div>
            </div>            
    </div>
</mat-card>